@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin headers {
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: bold;
}
